<html>
<head><meta charset="utf-8"/><title>learning_tool</title>
<script type="text/javascript">
<!--
	function load() {
	   alert('おはようございます、マスター。今日もがんばってください');
	}
-->
</script>
</head>
<body onload="load()">
        <p><b>学習補助ツール</b></p>
        <p>今日は何をされますか？　やることを下から選んでください。</p>
        <table>
	    <tr><td><a href="/test.ejs" target="_blank" rel="noopener">一問一答</a></td></tr>
	    <tr><td><a href="/train.html" target="_blank" rel="noopener">暗記ドリル</a></td></tr>
        </table>
</body>
</html>